#header{
	padding: 0px 30px;

	.Hcontainer{
		display: grid;
		grid-template-columns: 33% 34% 33%;

		.center{
			text-align: center;
		}

		.right{
			text-align: right;
			padding: 31px 0px;
		}
		.left{
			padding: 31px 0px;

			i{
				padding: 0px 20px;
			}
		}
	}

	@media (max-width: 768px) {
		.Hcontainer{
			grid-template-columns: 100%;

			.right,.left{
				text-align: center;
			}
		}
	}
}