.mainsection{
	.review-star{
		width: 1rem;
		height: 1rem;
		color: #59D8D1;
	}
	h3{
		font-size: 2rem;
	}
	h4{
		font-size: 1.2rem;
	}
	.card{
		img{
			width: 100%;
		}
	}
	.row{
		display: flex;
	}
	.left{
		width: 35%;
	}
	.right{
		width: 65%;
	}
	.list-group{
		line-height: 25px;
		font-size: 20px;
	}
}

@media screen (max-width: 768px) {
	.left{
		width: 100%;
	}
}