.btn-info{
	background: #59D8D1;
	color: #fff;
	border-radius: 15px;
}
.btn{
	padding: 12px 20px;
	cursor: pointer;
}
.btn-dark{
	background: #FA6E3D;
    width: 100%;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: 500;
    padding: 15px;
    font-size: 20px;
}