@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  src: url(/temp/fonts/Proxima Nova Bold Italic.otf);
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url(/temp/fonts/Proxima Nova Light.otf);
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  src: url(/temp/fonts/Proxima Nova Regular Italic.otf);
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  src: url(/temp/fonts/Proxima Nova Semibold Italic.otf);
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  src: url(/temp/fonts/Proxima Nova Semibold.otf);
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 900;
  src: url(/temp/fonts/ProximaNova-Black.otf);
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 900;
  src: url(/temp/fonts/ProximaNova-BlackIt.otf);
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: url(/temp/fonts/ProximaNova-Bold.otf);
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 800;
  src: url(/temp/fonts/ProximaNova-ExtrabldIt.otf);
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 800;
  src: url(/temp/fonts/ProximaNova-Extrabold.otf);
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url(/temp/fonts/ProximaNova-LightItalic.otf);
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: url(/temp/fonts/ProximaNova-Reg.otf);
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url(/temp/fonts/ProximaNova-Thin.otf);
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url(/temp/fonts/ProximaNova-ThinIt.otf);
}
body,a,p,h1,h2,h3,h4,h5,h6,*{
  font-family: 'Proxima Nova';
}






